# Python virtual environment
venv/
__pycache__/
*.pyc

# Terraform state and cache
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfvars

# Operating System files
.DS_Store
Thumbs.db